*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
.first-container{
    height: 100vh;
    width: 100%;
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    background-size: cover ;
    
    background-color: black;
    
}
nav{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}
nav img{
    height: 30px;
}
nav button{
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background: none;
    color: #b8b2a8;

}
nav button:hover{
    background-color: #8B8A88;
    color: #ffffff;
    font-weight: 600;
}
.second-container{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first-line{
    color: #1CE783;
    font-size: 12px;
    margin-bottom: 17px;
}
.center-img{
    height: 136px;
    width: 604px;
    margin-bottom: 16px;
}
.second-line{
    font-size: 26px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}
.get{
    height: 48px;
    width: 638px;
    background-color: #1CE783;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.get:hover{
    background-color: white;
    
}
.whats-incl{
    text-decoration: none;
    color: #8B8A88;
    font-size: 10px;
    margin-bottom: 15px;
}
.terms{
        color: #8B8A88;
    font-size: 10px;
    margin-bottom: 15px;
}
.singup{
   
    color: #ffffff;
    font-size: 16px;
    
}
.page-two{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.t1{
    color: #1CE783;
    font-size: 14px;
    margin-bottom: 15px;
}
.t2{
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 800;
}
.t3{
    color: white;
    font-size: 18px;
}
.img-div{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
   
    
    /* background-color: #1CE783; */
}
.imgs{
    height: 400px;
    width: 255px;
}
.page-third{
    background-color: black;
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.t4{
    font-size: 10px;
    color: #b8b2a8;
    margin-top: 20px;
}
.t5{
    font-size: 16px;
    color: #b8b2a8;
    margin-top: 16px;
}
.a1{
    color: #b8b2a8;
}
.im1{
    height: 400px;
    width: 255px;
    background-color: blue;
    background-image: url(./image/g1.jpg);
    padding: 30px;
    background-size: cover;

}
.im2{
    height: 400px;
    width: 255px;
    background-color: blue;
    background-image: url(./image/g2.jpg);
    padding: 30px;
    background-size: cover;

}
.im3{
    height: 400px;
    width: 255px;
    background-color: blue;
    background-image: url(./image/g3.jpg);
    padding: 30px;
    background-size: cover;

}
.im4{
    height: 400px;
    width: 255px;
    background-color: blue;
    background-image: url(./image/g4.jpg);
    padding: 30px;
    background-size: cover;

}
.sports{
    height: 100vh;
    background-image: url(./image/sport1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sports-categories{
    width: 400px;
    display: flex;
    justify-content: space-between;

}

.sports button{
    background: none;
    border: none;
    border-bottom: 6px solid white;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 30px;
}

.sports-content{
    margin-left: 80px;
}

.sports h1{
    color: #FFF;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sports p{
    color: #FFF;
    margin-bottom: 30px;
}

.sports a{
    color: rgb(216, 216, 216);
    font-size: 10px;
}

.sports-channels{
    display: flex;
}

.img-box{
    height: 50px;
    width: 50px;
    background-color: #FFF;
    margin: 10px;
    border-radius: 100%;
    background-image: url(./image/channel1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img-box:nth-child(2){
    background-image: url(./image/channel2.png);
}
.img-box:nth-child(3){
    background-image: url(./image/channel3.png);
}
.img-box:nth-child(4){
    background-image: url(./image/channel4.png);
}
.fifth-div{
    height: 300vh;
    width: 100%;
    background-color: black;
    align-items: center;
    color: #FFF;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.plans{
    font-size: 50px;
    font-weight: 800;
}
.fees{
    

}
.table{
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    background-color: black;
    
}
.col1{
    height: 180px;
    width: 450px;
    text-align: left;
    /* background-color: #1CE783; */
    
}
.table-img{
    height: 40px;
}
.col2{
    display: flex;
    flex-direction: column;
}
.pop{
    height: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;
    background-color: #1CE783;
    color: black;
}
.charge{
    height: 40px;
    width: 158px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: black;
    font-size: 15px;
   font-weight: 800;

}
.col3{
    height: 180px;
    width: 250px;
    margin-top: 37px;
    margin-left: 35px;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.col4{
    height: 180px;
    width: 250px;
    margin-top: 37px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.table2{
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    text-align: center;
    
}
.col11{
    height: 80px;
    width: 450px;
    text-align: left;
    margin-top: 10px;
  }
.col22{
    width: 250px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   }


.col33{
    width: 250px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}


.col44{
    width: 250px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

} 
.bottom-text{
    font-size: 10px;
    color: grey;
}
.add-on{
    margin: 30px;
    font: 30px;

}
.ld{
    width: 1200px;
    border-bottom: 1px solid gray;
}
.footer{
    height: 60vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
   border-bottom: 1px solid gray;


}
@media only screen and (max-width:768px){
    .first-container{
        
    }
}
